<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todo API</h1>

    <h2>Sammanfattning</h2>
    <p>Tjänsten är en REST-tjänst som tillhandahåller ett enkelt API för att hantera Todo-items (eller "att göra" punkter).</p>

    <h2>Innehållsförteckning</h2>
    <ol>
      <li><a href="#bakgrund">Bakgrund</a></li>
      <li><a href="#syfte">Syfte</a></li>
      <li><a href="#dokumentation">Dokumentation av API:et</a>
        <ol>
          <li><a href="#todo-objektet">Todo-objektet</a></li>
          <li><a href="#error-objektet">Error-objektet</a></li>
          <li><a href="#http-metoder">HTTP metoder i API:et</a></li>
        </ol>
      </li>

      <li><a href="#tekniken-bakom">Tekniken bakom API:et</a></li>
      <li><a href="#forfattare">Författare</a></li>
    </ol>

    <!-- Bakgrund -->
    <h1 id="bakgrund">1 Bakgrund</h1>
    <p>Tbd.</p>

    <!-- Syfte -->
    <h1 id="syfte">2 Syfte</h1>
    <p>Syftet med API:et är att ha som stöd för lärandeändamål vid test och utveckling av t.ex. klientbaserade webbramverk.</p>

    <!-- Dokumentation av API:et -->
    <h1 id="dokumentation">3 Dokumentation av API:et</h1>

    <!-- Todo-objektet -->
    <h2 id="todo-objektet">3.1 Todo-objektet</h2>

    <p>En komplett Todo-item består av fälten <a href="#key-id">id</a>, <a href="#key-title">title</a>, <a href="#key-complete">complete</a> och <a href="#key-completeDate">completeDate</a></p>
    <p>Nedanstående är ett komplett exempel på ett Todo-objekt:</p>

    <code id="code-todo-complete">{
      &quot;id&quot;: 1337,
      &quot;title&quot;: &quot;Handla mjölk&quot;,
      &quot;complete&quot;: true,
      &quot;completeDate&quot;: &quot;2016-05-01T12:00:00.000Z&quot;
    }</code>

    <p><strong>Nedan beskrivs delarna i Todo-objektet</strong></p>
    <dl>
      <dt id="key-id">id</dt>
      <dd>
        <span class="syntax-highlight">&lt;Integer&gt;</span>,
        Fältet är unikt och genereras av servern
      </dd>

      <dt id="key-title">title<dt>
      <dd>
        <span class="syntax-highlight">&lt;String&gt;</span>,
        Fältet beskriver en Todo:s (uppgiftens) syfte, exempelvis &quot;Handla mjölk&quot;
      </dd>

      <dt id="key-complete">complete<dt>
      <dd>
        <span class="syntax-highlight">&lt;Boolean&gt;</span>,
        Fältet anger om Todo:n (uppgiften) är slutförd eller inte
      </dd>

      <dt id="key-completeDate">completeDate<dt>
      <dd>
        <span class="syntax-highlight">&lt;Date&gt;</span>,
        Fältet anger när Todo:n (uppgiften) slutfördes. Får endast existera då <span class="syntax-highlight">complete</span> är satt till True.
      </dd>
    </dl>

    <!-- Error-objektet -->
    <h2 id="error-objektet">3.2 Error-objektet</h2>

    <p>Ett error-objekt returneras av servern vid fel, exempelvis vid HTTP 400 och 404. Error-objektet består av fälten <a href="#key-status">status</a>, <a href="#key-code">code</a>, <a href="#key-name">name</a>, <a href="#key-message">message</a> och <a href="#key-stack">stack</a>.</p>
    <p>Nedanstående är ett komplett exempel på ett Error-objekt:</p>

    <code>{
      &quot;status&quot;: 400,
      &quot;code&quot;: 1,
      &quot;name&quot;: &quot;ValidationError&quot;,
      &quot;message&quot;: &quot;Felmeddelande i klartext ...&quot;,
      &quot;stack&quot;: &quot;Error stack trace ...&quot;
    }</code>

    <p><strong>Nedan beskrivs delarna i Error-objektet</strong></p>
    <dl>
      <dt id="key-status">status</dt>
      <dd>
        <span class="syntax-highlight">&lt;Integer&gt;</span>,
        HTTP-status (sätt även som response-status)
      </dd>

      <dt id="key-code">code</dt>
      <dd>
        <span class="syntax-highlight">&lt;Integer&gt;</span>,
        Intern kod. <em>Används för närvarande inte</em>
      </dd>

      <dt id="key-name">name</dt>
      <dd>
        <span class="syntax-highlight">&lt;String&gt;</span>,
        Error-objektets namn
      </dd>

      <dt id="key-message">message</dt>
      <dd>
        <span class="syntax-highlight">&lt;String&gt;</span>,
        Felmeddelande från servern. Talar om vad som har gått fel
      </dd>

      <dt id="key-stack">stack</dt>
      <dd>
        <span class="syntax-highlight">&lt;String&gt;</span>,
        Stack trace från servern. Har inget syfte för en klient utan endast för utveckling av Todo-API:et
      </dd>
    </dl>

    <!-- HTTP-metoder -->
    <h2 id="http-metoder">3.3 HTTP metoder i API:et</h2>

    <strong>Path:</strong>
    <fieldset class="route-group">
      <legend class="route-group-path">/api/todo</legend>

      <fieldset class="route">
        <legend class="route-method get">GET</legend>
        <p>Metod för att hämta alla Todo:s som finns lagrade på servern</p>

        <strong>Query-parametrar</strong>
        <dl>
          <dt>title</dt>
          <dd>
            <span class="syntax-highlight">&lt;String&gt;</span>,
            Filtrera resultatet på titel. Möjliga operatorer: * = odefinierat antal godtyckliga tecken
          </dd>
          <dt>complete</dt>
          <dd>
            <span class="syntax-highlight">&lt;Boolean&gt;</span>,
            Filtrera status för om en Todo är utförd eller inte
          </dd>
        </dl>

        <!-- Returns -->
        <strong>Retur, HTTP-status samt payload</strong>
        <dl>
          <dt>OK:</dt>
          <dd>200 &lt;Array [&lt;TodoObject&gt;]&gt;</dd>
          <dt>ERROR:</dt>
          <dd>400 &lt;ErrorObject&gt;</dd>
        </dl>
      </fieldset>

      <fieldset class="route">
        <legend class="route-method post">POST</legend>
        <p>Metod för att skapa och lagra en ny Todo på servern</p>
        <strong>Body-payload</strong>
        <p>Metoden godtar nycklarna som beskrivs under avsnittet <a href="#code-todo-complete">Dokumentation av API:et &gt; Todo-objektet</a> förutom <strong><span class="syntax-highlight">id</span></strong>, vilket inte går att sätta själv utan sätts av servern.</p>
        <p>Fältet <strong><span class="syntax-highlight">title</span></strong> är obligatoriskt.</p>

        <!-- Returns -->
        <strong>Retur, HTTP-status samt payload</strong>
        <dl>
          <dt>OK:</dt>
          <dd>201 &lt;TodoObject&gt;</dd>
          <dt>ERROR:</dt>
          <dd>400 &lt;ErrorObject&gt;</dd>
        </dl>
      </fieldset>

      <fieldset class="route">
        <legend class="route-method put">PUT</legend>
        <p>Metod för att uppdatera en befintlig Todo</p>
        <strong>Body-payload</strong>
        <p>Metoden godtar nycklarna som beskrivs under avsnittet <a href="#code-todo-complete">Dokumentation av API:et &gt; Todo-objektet</a>.</p>
        <p>Fältet <strong><span class="syntax-highlight">id</span></strong> är obligatoriskt och avgör vilken Todo som uppdateras. Fältet går inte att editera.</p>

        <!-- Returns -->
        <strong>Retur, HTTP-status samt payload</strong>
        <dl>
          <dt>OK:</dt>
          <dd>200 &lt;TodoObject&gt;</dd>
          <dt>ERROR:</dt>
          <dd>400 &lt;ErrorObject&gt;, 404 &lt;ErrorObject&gt;</dd>
        </dl>
      </fieldset>
    </fieldset>

    <strong>Path:</strong>
    <fieldset class="route-group">
      <legend class="route-group-path">/api/todo/<strong>{todoId}</strong></legend>
      <p><strong>{todoId}</strong> avser ID:t för en Todo som finns sparad på servern.</p>

      <fieldset class="route">
        <legend class="route-method get">GET</legend>
        <p>Hämtar angiven Todo från servern</p>

        <!-- Returns -->
        <strong>Retur, HTTP-status samt payload</strong>
        <dl>
          <dt>OK:</dt>
          <dd>200 &lt;TodoObject&gt;</dd>
          <dt>ERROR:</dt>
          <dd>400 &lt;ErrorObject&gt;, 404 &lt;ErrorObject&gt;</dd>
        </dl>
      </fieldset>

      <fieldset class="route">
        <legend class="route-method delete">DELETE</legend>
        <p>Raderar angiven Todo från servern</p>

        <!-- Returns -->
        <strong>Retur, HTTP-status samt payload</strong>
        <dl>
          <dt>OK:</dt>
          <dd>200 &lt;TodoObject&gt;</dd>
          <dt>ERROR:</dt>
          <dd>400 &lt;ErrorObject&gt;, 404 &lt;ErrorObject&gt;</dd>
        </dl>
      </fieldset>
    </fieldset>

    <!-- Tekniken bakom API:et -->
    <h1 id="tekniken-bakom">4 Tekniken bakom API:et</h1>
    <p>API:et i sin helhet är skrivet i NodeJS och ramverket som används för att strukturera REST-API:et är ExpressJS.</p>
    <p>För tillfället så sparas datan endast i minnet vilket medför att förändringar försvinner vid en omstart av servern.</p>

    <!-- Författare -->
    <h1 id="forfattare">5 Författare</h1>
    <p>API:et är framtaget av <a href="mailto:mathias.pet@gmail.com">Mathias Sandberg</a> och <a href="mailto:sandra.isgren@hotmail.com">Sandra Isgren</a></p>

    <br />
    <hr />
    <small>Tjänsen är uppe sedan <%= startDateTime %></small>
  </body>
</html>
