body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  /*white-space: pre;*/
  display: inline-block;
  color: #c24343;
  min-width: 300px;
  padding: 1em;
  background-color: #eaeaea;
  border: 3px solid #d2d2d2;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


.syntax-highlight {
  color: #d03b9e;
}
.syntax-highlight-2 {
  color: #2ed266;
}

/* ROUTES */
.route-group {}
.route-group-path {
  background-color: #00B7FF;
  color: #fff;
  padding: 1em;
  display: block;
  width: 100%;
}

.route {margin-bottom: 2em;}
.route-method {
  font-weight: bold;
  color: #fff;
  padding: 1em;
  width: 100px;
}
.route-method.get {background-color: #2ed266;}
.route-method.post {background-color: #ad0fc9;}
.route-method.put {background-color: #8da5e4;}
.route-method.delete {background-color: #c24343;}

/*ol { counter-reset: item }
li { display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }*/
